.here-ui-menus {
  width: 100%;
  height: 100%;
  -webkit-user-select: none; }
  .here-ui-menus .menu-items[hidden] {
    display: none; }
  .here-ui-menus div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box; }
  .here-ui-menus .menu-html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    border-radius: 50%; }
  .here-ui-menus img {
    pointer-events: none; }
  .here-ui-menus .menu-icon {
    overflow: hidden;
    padding: 6px; }
    .here-ui-menus .menu-icon img {
      max-width: 100%;
      max-height: 100%; }
  .here-ui-menus .menu-text {
    color: #fff;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis; }
