$fontSize:14px; //default font size
$fontColor:#fff; // default fontColor
$centerBgColor:#ccc; // background color of menu center
$centerBgColor_active:#b3a5a5; // active background color of menu center
$menuBgColor:#000; // background color of menu arc area
$menuBgColor_hover:#37483d; // background hover color of menu arc area
$borderColor:#00f; // menu border color