@import "util";
@import "constant";
.here-ui-annular-menu{
  width:100%;
  height:100%;
  pointer-events: none;
  div{
    @include css(box-sizing,border-box);
  }
  foreignObject{
    pointer-events: none;
  }
  @keyframes collapse-enter {
    from{
      @include css(transform,scale(1));
    }
    to{
      @include css(transform,scale(0));
    }
  }
  .menu-position{
    -webkit-user-select: none;
    pointer-events: all;
    color:$fontColor;
    &[collapse]{
      >.menu-items{
        @include css(animation,collapse-enter .6s);
        @include css(transform,scale(0));
      }

    }
    >.menu-center,>.menu-items{
      @include css(animation,menu-center-enter .6s);
    }
    >.menu-items{
      display:initial !important;
    }
  }
  @keyframes menu-center-enter {
    0%{
      @include css(transform,scale(0.2));
      opacity:0;
      color:transparent;
    }
    80%{
      color:initial;
    }
    100%{
      @include css(transform,scale(1));
      opacity:1;
      color:initial;
    }
  }
  .menu-center{
    fill:$centerBgColor;
    &:active{
      fill:$centerBgColor_active;
    }
    cursor:pointer;
  }
  @keyframes menu-items-enter {
    0%{
      @include css(transform,scale(0.4));
      opacity:0;
      color:transparent;
    }
    30%{
      opacity:0;
    }
    80%{
      color:initial;
    }
    100%{
      @include css(transform,scale(1));
      opacity:1;
      color:initial;
    }
  }
  .menu-items{
    @include css(animation,menu-items-enter .6s);
    display:none;

  }
  .menu-path-g{
    &[active]{
      >.menu-path{
        fill:$menuBgColor_hover;
      }
      >.menu-items{
        display:initial;
      }
    }
  }
  .menu-path{
    stroke:$borderColor;
    cursor:pointer;
    fill:$menuBgColor;
    &:hover{
      fill:$menuBgColor_hover;
    }
  }
  .menu-content{
    width:100%;
    height:100%;
    overflow:hidden;
    text-align: center;
    font-size:$fontSize;
    border-radius: 50%;
  }
  img{
    pointer-events: none;
  }
  .menu-icon{
    overflow:hidden;
    padding:6px;
    width:100%;
    height:70%;
    img{
      max-width:100%;
      max-height:100%;
    }
  }
  .menu-text{
    width:100%;
    height:25%;
    overflow:hidden;
    text-align:center;
    text-overflow: ellipsis;
  }
}